<!DOCTYPE html>
<html>
<head>
	<title><%= "#{feed.source}: #{feed.search_term}" %></title>
	<link rel="stylesheet" type="text/css" href="../../style.css">
	<link href='http://fonts.googleapis.com/css?family=Roboto+Slab:100' rel='stylesheet' type='text/css'>
</head>
<body>
	<h2 id="feedpage"><%= "#{feed.source} #{feed.search_term}" %></h2>
	<div class="feed">
		<% posts[first..last].each do |post| %>
		<div class="post">
			<div><%= feed.search_term %></div>
			<div><a href="<%= post.url %>"><%= post.context %></a></div>
			<div><%= Post.link_to_text(post.content) unless post.content == nil %></div>
			<div><%= post.time_data %></div>
			<div>
				<% if post.tag %>
				<form action="/post/tag/<%= post.id %>" method="POST">
					<input type="hidden" name="_method" value="PUT">
					<input type="text" name="tag" placeholder="<%= post.tag %>">
					<button>Change Tag</button>
				</form>
				<% else %>
				<form action="/post/tag/<%= post.id %>" method="POST">
					<input type="hidden" name="_method" value="PUT">
					<input type="text" name="tag" placeholder="None">
					<button>Add Tag</button>
				</form>
				<% end %>
				<form action="post/<%= post.id %>" method="POST">
					<input type="hidden" name="_method" value="DELETE">
					<button>Delete this post</button>
				</form>
			</div>
		</div>
		<% end %>
	</div>
	<% if posts.length > page.to_i * 10 %>
	<div><center><a href="/feeds/<%= "#{feed.id}/#{page.to_i + 1}" %>">Next Page</a></center></div>
	<% end %>
</body>
</html>
